li {
    padding: 5px;
    margin: 5px 30%;
    border: 2px solid black;
    border-radius: 10px;
    list-style: none;
    background-color: #E9D8A3;
    font-family: 'Titillium Web', sans-serif;

  }

 button {
   border-radius: 5px;
   padding: 2px;
   font-size: 18px;
   font-family: 'Titillium Web', sans-serif;
 } 

 h1 {
  font-family: 'Ranchers', cursive;
  letter-spacing: 2px;
  font-size: 60px;
 }

 label {
  font-family: 'Titillium Web', sans-serif;
 }
  
  .label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
  }

 input {
   height: 16px;
 }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
    margin: 0 8px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-color: rgb(252, 182, 3);
    text-align: center;
  }

  #submit {
    margin-top: 14px;
  }
  