li {
    padding: 5px;
    margin: 5px 30%;
    border: 2px solid black;
    border-radius: 10px;
    list-style: none;
    background-color: #E9D8A3;
  }

 button {
   border-radius: 5px;
   padding: 4px;
   font-size: 18px;
 } 
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
    margin: 0 8px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-color: rgb(252, 182, 3);
    text-align: center;
  }
  